/******************************************************************************/
/* Estilos que aplican a todos los elementos */

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 16px; /* Definicion del tamaño de letra predeterminado */
  color: #fff;   /* Definicion del color de la letra predeterminado */
  background-color: #B39770; /* Definicion del color de fondo predeterminado */
  font-family: 'Oxygen', sans-serif; /* Definicion de las fuentes predeterminadas del texto */
}

/******************************************************************************/
/** Estilos del header **/

#header-nav{
  background: #769961 /* Color de fondo del menu de navegacion */
}

/* Estilos del logo de la pagina */
#logo-img {
  background: url(../images/logo.png) no-repeat; /* Se asocia una imagen al fondo del div del logo */
  background-size: contain; /* Se define que la imagen se escale a las medidas del div del logo */
  width: 100px; /* Se define el ancho del logo */
  height: 100px; /* Se define el alto del logo */
  margin: 10px 15px 10px 0; /* Se define el margen del logo*/
}

/* Estilo del titulo h1 dentro del header */
header h1{
  display: inline-block;
  font-family: 'Lora', serif;
  color: #c4321f; 
  font-size: 1.5em; /* Se define que el tamaño de la letra sea relativo al predeterminado */
  text-transform: uppercase; /* Se define que todo el texto este en mayusculas */
  font-weight: bold; /* Se cambia el estilo del texto a negrita */
  text-shadow: 1px 1px 1px #222; /* Se define una sombra al texto */
  margin-top: 50px;
  line-height: .75; /* Se cambia el espaciado entre lineas */
}

/* Estilos del boton del menu de navegacion */
#btn-menu {
  display: none;   /* oculta el checkbox cuando no es necesario*/
} 

/* Estilo de los labels incluidos dentro del header */
header label {     /* coloca el checkbox en un lugar y tamaño exactos*/
  display: none;   /* se esconde el elemento al que refiere el label por defecto */
  width: 30px;
  height: 30px;
  position: absolute; /* Se define que el posicionamiento del elemento sea en coordenadas globales (absolutas) */
  right: 20px; /* Se define la distancia con respecto al borde derecho del elemento "padre" a la cual va a estar el elemento */
  top: 30px;  /* Se define la distancia con respecto al borde superior del elemento "padre" a la cual va a estar el elemento */
} 
/* Estilo de los elementos asociados a los labels cuando se pasa el cursor por encima de estos */
header label:hover {
  cursor: pointer;    /* cambia el cursor sobre el checkbox para indicar la interacción*/
}

.menu{
  position: absolute;
  right: 30px;
  top: 50%;
  text-align: right; /* Se alinea el texto a la derecha del elemento */
}

/* Estilos para las listas sin orden del menu */
.menu ul{
  list-style: none;     /* Se remueven los bullet points de la lista*/
  padding: 0;
  display: flex;
  margin-right: -30px;
}

.menu li a{
  font-family: 'Lora', serif;
  text-decoration: none; 
}

.menu li a div{
  color: #d40e0e;
  font-size: 1.4rem;
  text-align: center;
  width: auto;
  padding: 0 2vw 0 2vw; /* Se define que el padding sea proporcial al ancho de la ventana o la pantalla del dispositivo (vw - viewport widht) */
  margin-bottom: 10px;
}

.menu li a:hover div, .menu .menu-active{
  color: #4a1c9e;
}
.menu li a:hover div{
  background: #a06a7e;
}

.menu .menu-active{
  background-color: #769961 !important; /* Se da un atributo de important al color de fondo del menu, es decir que sin importar si se define en otra linea, el valor a usar sera este */
}

/******************************************************************************/
/** Estilos del footer **/

.panel-footer {
  padding: 10px 15px;
  background-color: #2b2323;
  opacity: 0.9;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px; /* Se realiza un redondeado de la esquina inferior derecha del footer */
  border-bottom-left-radius: 3px;  /* Se realiza un redondeado de la esquina inferior izquierda del footer */
}

#designer a{
  text-decoration: none; /* Se cambia el estilo a los enlaces dentro del div designer del footer */
  color: #ddd;
}

/******************************************************************************/
/******************************************************************************/
/* Estilos de la pagina de inicio */

.jumbotron{
  position: relative;
  overflow: hidden; /* En caso de que los elementos sean mas grandes que el tamaño de div se escondera el exceso */
  margin: 20px -15px 0px -15px;
}

.jumbotron .image{
  background: url(../images/parthenon_1920.jpg) no-repeat;
  background-position: center center;
  height: 40vw; /*1440*/
  background-size: cover;
  border-radius: 20px;
}

.container #introduction{
  font-family: 'Oxygen', serif;
  font-size: 1.4rem;
  text-align: justify;
}

#link-boxes{
  background: url(../images/greek_coast_1280.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  opacity: 0.9;
  margin: 0 0px 0 0px;
}

#link-boxes .ubicacion,
#link-boxes .personajes,
#link-boxes .actividades,
#link-boxes .historia,
#link-boxes .creditos{
  position: relative;
  height: 300px;
  background-color: #222;
  margin: 10px 0 10px 0;
  border-style: solid;
  border-width: 4px;
  border-color: #222;
}
#link-boxes p{
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 0%;
  width: 100%;
  padding: 2% 0 2% 0;
  background-color: #222;
  color: #ffffff;
  font-size: 2rem;
  opacity: 0.8;
}
#link-boxes a:hover div{
  box-shadow: 5px 5px 10px 1px #d33303;
}

#link-boxes .ubicacion{
  background: url(../images/greece_map.jpg) no-repeat;
  background-size: cover;
  opacity: 0.9;
}
#link-boxes .personajes{
  background: url(../images/school_1280.jpg) no-repeat;
  background-size: cover;
  opacity: 0.9;
}
#link-boxes .actividades{
  background: url(../images/olympics_583.jpg) no-repeat;
  background-size: cover;
  opacity: 0.9;
}
#link-boxes .historia{
  background: url(../images/acropolis_1280.jpg) no-repeat;
  background-size: cover;
  opacity: 0.9;
}
#link-boxes .creditos{
  background: url(../images/credits.png) no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.9;
}
/* END HOME PAGE */

/******************************************************************************/
/******************************************************************************/
/* Estilos de la pagina de ubicacion */


#geography-page-title{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}
#greek-map{
  margin-top: 25px;
  width: 100%;
  height: 40vw;
}

/******************************************************************************/
/******************************************************************************/
/* Estilos de la pagina de personajes */

#character-page-title{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

.collapsible-content ol ol{ 
  margin-left: 7%; 
  font-size: 1em;
}

.character-title{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 1.8rem;
}

#philosophers,
#artists,
#politicians{
  color: #2b2323;
  font-size: 2rem;
  padding-top: 2vw;
  clear: both;
  margin-bottom: 1vw;
}

.right-image-text-box{
  clear: both;
  position: relative;
}

.right-image-text-box h2{
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Lora', serif;
  margin-bottom: 1vw;
  margin-top: 2vw;
}
.right-image-text-box p{
  font-size: 1.5rem;
  text-align: justify;
}
.right-image-text-box .image{
  float: right;
  width: 40vw;
  height: 27vw;
  margin: 0px 0px 30px 30px;
}

#character-socrates-image{
  background: url(../images/charc-socrates-800.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 20px;
}
#character-democritus-image{
  background: url(../images/charc-democritus-1280.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 20px;
}
#character-protagoras-image{
  background: url(../images/char-protagoras-1280.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 20px;
}
#character-polykleitos-image{
  background: url(../images/char-polykleites-800.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 20px;
}
#character-phidias-image{
  background: url(../images/char-phidias-800.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 20px;
}
#character-myron-image{
  background: url(../images/char-myron-800.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 40px;
}
#character-pericles-image{
  background: url(../images/char-pericles-800.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 40px;
}
#character-lisander-image{
  background: url(../images/char-lysander-800.jpg) no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 40px;
}

/******************************************************************************/
/******************************************************************************/
/* Estilos de la pagina de actividades */

#activities-title{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

.panel-right-image,
.panel-left-image{
  margin: 40px 0 40px 0;
  border-style: solid;
  border-width: 2px;
  border-color: #222;
  border-radius: 50px;
  background-color: rgba(161, 228, 172, 0.377)
}

.panel-right-image h3,
.panel-left-image h3{
  margin-top: 10px;
  font-size: 2rem;
  font-family: 'Lora', serif;
}

.panel-right-image .text,
.panel-left-image .text{
  font-family: 'Oxygen', serif;
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 4vw;
}

.panel-right-image .image,
.panel-left-image .image{
  margin: 20px 0px 20px 0px;
  height: 40vh;
}

#olympics-image{
  background: url(../images/act-olympics-800.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 40px;
}

#theatre-image{
  background: url(../images/act-theatre-1280.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 40px;
  margin-top: 5vh;
  height: 50vh;
}

#symposium-image{
  background: url(../images/act-symposium-1280.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 40px;
  margin-top: 5vh;
  height: 50vh;
}

/******************************************************************************/
/******************************************************************************/
/* Estilos de la pagina de historia */

#history-title{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

.hist-acropolis{
  background: url(../images/history_acropolis.jpg) no-repeat;
  background-position: center center;
  height: 15vw; 
  background-size: cover;
  border-radius: 20px;
}

.container .history-text{
  font-family: 'Oxygen', serif;
  font-size: 1.4rem;
  text-align: justify;
}

.container .history-text a{
  text-decoration: none;
}

.container .history-subtitle{
  text-align: center;
  font-size: 1.6rem;
}

#sect-dark-ages{
  clear: both;
  padding-top: 2vw;
}
.image-dark-ages{
  background: url(../images/history_dark_ages_800.jpg) no-repeat;
  background-position: center center;
  height: 40vw; 
  background-size: cover;
  border-radius: 20px;
}

.image-archaic{
  background: url(../images/history_archaic.jpg) no-repeat;
  background-position: center center;
  height: 40vw; 
  background-size: cover;
  border-radius: 20px;
}

.image-classic-age{
  background: url(../images/history-classic_2048.jpg) no-repeat;
  background-position: center center;
  height: 40vw; 
  background-size: cover;
  border-radius: 20px;
}

.image-helenistic{
  background: url(../images/history-henistic-1280.jpg) no-repeat;
  background-position: center center;
  height: 40vw; 
  background-size: cover;
  border-radius: 20px;
}

.wrap-collabsible { 
  margin: 5% 0 0 0; 
} 

#collapsible { 
  display: none; 
} 

/* Estilos del boton del menu colapsable de contenidos*/
.lbl-toggle { 
  display: block; 
  font-weight: bold; 
  font-family: monospace; 
  font-size: 1.2rem; 
  text-transform: uppercase; 
  text-align: center; 
  padding: 1rem; 
  color: #DDD; 
  background: #d85b12; 
  cursor: pointer; 
  border-radius: 7px; 
  transition: all 0.25s ease-out; 
} 
.lbl-toggle:hover { 
  color: #FFF; 
} 

/* Estilos del menu de contenido cuando esta colapsado*/
.lbl-toggle::before { 
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle; 
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
} 

/*Estilo para rotar la flecha del menu del contenido dependiendo del estado*/
.toggle:checked+.lbl-toggle::before { 
  transform: rotate(90deg) translateX(-3px); 
} 

/* Estilos del elemento div que contiene los elementos del contenido*/
.collapsible-content { 
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .25s ease-in-out; 
} 
/* Accion del boton */
.toggle:checked + .lbl-toggle + .collapsible-content { 
  max-height: 500px; 
} 
.toggle:checked+.lbl-toggle { 
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0; 
} 

/* Estilos de los contenidos del menu de contenido */
.collapsible-content .content-inner { 
  background: #b97852; 
  border-bottom: 1px solid rgba(0, 105, 255, .45); 
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px; 
  padding: .5rem 1rem; 
} 
/* Estilos de las listas sin ordenar del menu de contenidos */
.collapsible-content ol { 
  margin-left: 5%; 
  font-size: 1.3em;
}

/******************************************************************************/
/******************************************************************************/
/* Estilos de la pagina de creditos */

#credits-title{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

.creditos-links{
  margin-bottom: 3vh;
}
.creditos-links h3{
  font-family: 'Lora', serif;
  font-size: 2em;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.creditos-links ul{
  font-family: 'Oxygen', serif;
  font-size: 1.5em;
  list-style-type: none;
  margin-top: 1vh;
  margin-left: 3vw;
}

#back-map{
  position: relative;
  background: #a18762;
  opacity: 0.8;
  border-radius: 50px;
  padding: 10px 0 30px 0;
}

#navigation-map{
  position: relative;
  background: url(../images/MapaNavegacion.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 40vw;
  margin: 0 0 0 5vw;
}

/******************************************************************************/
/* Media queries */

/********** Media queries para pantallas grandes **********/
@media (min-width: 1200px) {

  /** Activities **/
  .panel-right-image .text,
  .panel-left-image .text{
    margin-top: 5vw;
  }

}

@media (min-width: 1000px) and (max-width: 1199px) {

  .menu li a div{
    text-align: center;
    width: auto;
    font-size: 1.3rem;
    padding: 0 0vw 0 2vw;
    margin-bottom: 10px;
  }

  /** Credits **/
  #navigation-map{
    position: relative;
    background: url(../images/MapaNavegacion.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 50vw;
    margin: 0 0 0 5vw;
  }
}

/********** Media queries para pantallas de tamaño medio **********/
@media (min-width: 901px) and (max-width: 999px) {

  /** Header **/
  .menu{
    right: 0px;
  }
  
  .menu ul{
    margin-right: 0px;
  }

  .menu li a div{
    text-align: center;
    width: auto;
    font-size: 1.1rem;
    padding: 0 0vw 0 2vw;
    margin-bottom: 10px;
  }

  /** HOME page **/
  .jumbotron .image{
    background: url(../images/parthenon_1280.jpg) no-repeat;
    background-position: center center;
    height: 40vw; 
    background-clip: border-box;
    background-size: cover;
    border-radius: 20px;
  }

  /** Characters page **/
  .right-image-text-box .image{
    float: right;
    width: 50vw;
    height: 33vw;
    margin: 0px 0px 30px 30px;
  }

  /** Activities **/
  .panel-right-image .image,
  .panel-left-image .image{
    margin: 20px 0px 20px 0px;
    height: 30vh;
  }

  /** History page **/
  .image-classic-age{
    background: url(../images/history-classic_800.jpg) no-repeat;
    background-position: center center;
    height: 40vw; 
    background-size: cover;
    border-radius: 20px;
  }

  .wrap-collabsible { 
    margin: 3% 0 0 0; 
  } 

  /** Credits **/
  #navigation-map{
    position: relative;
    background: url(../images/MapaNavegacion.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 50vw;
    margin: 0 0 0 5vw;
  }

}
/********** Media queries para pantallas pequeñas **********/
@media (max-width: 900px) {

  #header-nav{
    height: 80px;
  }

  header h1{
    margin-top: 40px;
    margin-left: 5vw;
  }

  .menu {
    position: fixed;  /* sostiene la posición aunque se haga scroll en el contenido */
    right: 1vw;
    top: 90px;
    background: rgba(0.5, 0.5, 0.5, 0.7); /* rojo, verde, azul, alpha (transparencia) */
    z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
    width: 30vw; /* se refiere al ancho del fondo del menu y no a los botones */
    margin-right: -60%; /* se oculta porque se coloca por fuera de la ventana*/
    transition: all 1s;   /* la animación de desplegar el menu dura 1 segundo*/
  } 
  .menu ul {
    flex-direction: column;  /* se despliega en sentido vertical*/
  } 
  .menu li a div{
    font-size: 1.2rem;
    color: #ffffff;
  }
  .menu li a:hover div{
    color: #b4dd92;
    background: #c4321f;
  }
  header label{
    display: block; /* se muestra el checkbox cuando se reduce la ventana*/
  } 
  #btn-menu:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
          margin: 1px; 
  } 

  /** Home Page **/
  .jumbotron .image{
    background: url(../images/parthenon_640.jpg) no-repeat; /* Se cambia la imagen del fondo a una de menor tamaño para que se pueda cargar mas rapido la imagen */
    background-position: center center;
    height: 40vw; 
    background-clip: border-box;
    background-size: cover;
    border-radius: 20px;
  }

  #link-boxes .row{
    margin: 0 10px 0 10px;
  }

  #link-boxes .personajes{
    background: url(../images/school_640.jpg) no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  #link-boxes .actividades{
    background: url(../images/olympics_469.jpg) no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  #link-boxes .historia{
    background: url(../images/acropolis_640.jpg) no-repeat;
    background-size: cover;
    opacity: 0.9;
  }

  /** Ubicacion **/
  #greek-map{
    height: 70vw;
  }

  /** Characters page **/
  .right-image-text-box .image{
    float: unset;
    width: 90%;
    height: 40vw; /*1440*/
    margin: 0px 0px 30px 30px;
  }

  #character-socrates-image{
    background: url(../images/charc-socrates-400.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
  }
  #character-democritus-image{
    background: url(../images/charc-democritus-640.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
  }
  #character-protagoras-image{
    background: url(../images/char-protagoras-500.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
  }
  #character-polykleitos-image{
    background: url(../images/char-polykleites-400.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
  }
  #character-phidias-image{
    background: url(../images/char-phidias-400.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
  }
  #character-myron-image{
    background: url(../images/char-myron-400.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
  }
  #character-pericles-image{
    background: url(../images/char-pericles-400.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
  }
  #character-lisander-image{
    background: url(../images/char-lysander-400.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 40px;
  }

  /** Activities page **/

  .panel-right-image .image,
  .panel-left-image .image{
    margin: 20px 0px 20px 0px;
    height: 30vh;
  }

  #olympics-image{
    background: url(../images/act-olympics-400.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 40px;
  }
  #theatre-image{
    background: url(../images/act-theatre-640.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 40px;
    margin-top: 5vh;
    height: 50vh;
  }
  #symposium-image{
    background: url(../images/act-symposium-640.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 40px;
    margin-top: 5vh;
    height: 50vh;
  }

  /** History page **/

  .hist-acropolis{
    background: url(../images/history_acropolis.jpg) no-repeat;
    background-position: center center;
    height: 40vw; /*1440*/
    background-size: cover;
    border-radius: 20px;
    margin-top: 5vw;
  }

  .image-dark-ages{
    background: url(../images/history_dark_ages_400.jpg) no-repeat;
    background-position: center center;
    height: 40vw; /*1440*/
    background-clip: border-box;
    background-size: cover;
    border-radius: 20px;
  }

  .image-classic-age{
    background: url(../images/history-classic_400.jpg) no-repeat;
    background-position: center center;
    height: 40vw; 
    background-size: cover;
    border-radius: 20px;
  }

  .image-helenistic{
    background: url(../images/history-henistic-640.jpg) no-repeat;
    background-position: center center;
    height: 40vw; /*1440*/
    background-size: cover;
    border-radius: 20px;
  }

  /** Credits page **/
  .creditos-links h3{
    font-size: 1.5em;
    margin-top: 3vh;
  }
  
  .creditos-links ul{
    font-size: 1.2em;
  }

  #navigation-map{
    position: relative;
    background: url(../images/MapaNavegacion.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 60vw;
    margin: 0 0 0 7vw;
  }

}

@media (min-width: 768px){
  #designer div{
    position: absolute;
    right: 4vw;
    text-align: left;
  }
}

/********** Media queries para pantallas mas pequeñas **********/
@media (max-width: 600px) {
  
  .menu {
    width: 40vw !important; /* se refiere al ancho del fondo del menu y no a los botones */
  } 

  .menu li a div{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 0 0 0;
  }

  /** Ubicacion **/
  #greek-map{
    height: 80vh;
  }

  /** Credits **/
  #navigation-map{
    position: relative;
    background: url(../images/MapaNavegacion.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 50vw;
    margin: 0 0 0 6vw;
  }

}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
/*** Propiedades comunes para varias paginas (Algunas se copiaron del CSS de 
     Bootstrap para realizar el RWD de manera mas rapida )                        **/

.container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left:  15px;
}

.container > .navbar-header, .container > .navbar-collapse{
  margin-right: -15px;
  margin-left: -15px;
}

.container .jumbotron{
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}

.jumbotron .container {
  max-width: 100%;
}

.row:before,
.row:after,
.container:before,
.container:after{
  display: table;
  content: " ";
}
.container:after{
  clear: both;
}

/* Se definen una clases para hacer visible elementos en tamaños especificos de pantallas */
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

/* Se definen una clases para hacer posicionar de manera flotante algunos elementos ya sea a la izquierda o a la derecha */
.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  padding-right: -15px;
  padding-left: -15px;
}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
/*** Media queries para definir tamaño de las columnas de los elementos **/

/********** Media queries para pantallas grandes **********/
@media (min-width: 1200px) {

  /* Se define una clase para que el elemento sea solo visible en este tamaño */
  .visible-lg {
    display: block !important;
  }

  /* Se define una clase para que el elemento NO sea visible en este tamaño */
  .hidden-lg {
    display: none !important;
  }

  /* Se definen clases que definen el tamaño de los elementos (utilizando la grilla  de 12 columnas de Bootstrap) */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

}

/********** Media queries para pantallas medianas **********/
@media (min-width: 901px) and (max-width: 1199px) {


  .visible-md {
    display: block !important;
  }

  .hidden-md {
    display: none !important;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }

}

/********** Media queries para pantallas pequeñas **********/
@media (min-width: 768px) and (max-width: 900px) {

  .visible-sm {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  
}

/********** Media queries para pantallas mas pequeñas **********/
@media (min-width: 601px) and (max-width: 767px){

  .visible-xs {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }

  .container > .navbar-header, .container > .navbar-collapse{
    margin-right: 0;
    margin-left:  0;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }

  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 74.99%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }


}


/********** Media queries para pantallas MUY pequeñas **********/
@media (min-width: 200px) and (max-width: 600px) {

  .visible-xxs {
    display: block !important;
  }
  .hidden-xxs {
    display: none !important;
  }

  .container > .navbar-header,.container > .navbar-collapse{
    margin-right: 0;
    margin-left:  0;
  }

  .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }

  .col-xxs-1 {
    width: 8.33%;
  }
  .col-xxs-2 {
    width: 16.66%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-4 {
    width: 33.33%;
  }
  .col-xxs-5 {
    width: 41.66%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-7 {
    width: 58.33%;
  }
  .col-xxs-8 {
    width: 66.66%;
  }
  .col-xxs-9 {
    width: 74.99%;
  }
  .col-xxs-10 {
    width: 83.33%;
  }
  .col-xxs-11 {
    width: 91.66%;
  }
  .col-xxs-12 {
    width: 100%;
  }

}